@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $cyan.base
  accent: $light-green.darken-2
  secondary: $brown.darken-1
  info: $light-blue.darken-1
  warning: $amber.base
  error: $deep-orange.darken-1
  success: $green.base
}
